@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
	padding: 0;
	margin: 0;
	color: #fff;
}

a {
	text-decoration: none;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: black;
}

h1,
h2 {
	font-family: "Montserrat", sans-serif;
}

#main {
	background-image: url(https://source.unsplash.com/g_V2rt6iG7A);
	background-size: cover;
	min-height: 100vh;
	background-position: center;
	position: relative;
}

#overlay {
	z-index: 1;
	min-height: 100vh;
	width: 100%;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+53,000000+83,000000+100&0.5+0,0.95+100 */
	background: -moz-linear-gradient(
		top,
		rgba(0, 0, 0, 0.5) 0%,
		rgba(0, 0, 0, 0.74) 53%,
		rgba(0, 0, 0, 0.87) 83%,
		rgba(0, 0, 0, 0.95) 100%
	); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		top,
		rgba(0, 0, 0, 0.5) 0%,
		rgba(0, 0, 0, 0.74) 53%,
		rgba(0, 0, 0, 0.87) 83%,
		rgba(0, 0, 0, 0.95) 100%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.5) 0%,
		rgba(0, 0, 0, 0.74) 53%,
		rgba(0, 0, 0, 0.87) 83%,
		rgba(0, 0, 0, 0.95) 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#f2000000',GradientType=0 ); /* IE6-9 */
}

.nav {
	padding: 2em 4em;
	display: flex;
	justify-content: space-between;
	min-height: 8vh;
}

.brand {
	font-family: "Berkshire Swash", cursive;
	font-size: 2em;
	display: flex;
	align-items: center;
}

.links {
	display: flex;
	align-items: center;
}

.link {
	padding-left: 2em;
	padding-right: 2em;
}

.link:hover {
	opacity: 0.8;
}

.banner {
	min-height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.banner > h1 {
	font-size: 5em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1);
}

#menu {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.our-menu {
	padding: 4em 8em;
}

.our-menu > h1 {
	font-size: 3.5em;
}

.item {
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	margin-left: 1em;
}

.item-title {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 0.2em;
	opacity: 0.9;
}

.item-desc {
	opacity: 0.8;
}

.pic {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pic > img {
	width: 60%;
	height: auto;
}

#about {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.about-section {
	padding: 4em 8em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-section > h1 {
	font-size: 3.5em;
}

.about-subtitle {
	opacity: 0.9;
}

.about-text {
	padding: 2em 0;
	font-size: 1.1em;
	opacity: 0.8;
	line-height: 1.5em;
}

#contact {
	padding: 4em;
	min-height: 80vh;
	/* border: white solid 1px; */
	display: flex;
	justify-content: center;
	/* align-items: center; */
	flex-direction: column;
}

#contact > h1 {
	font-size: 3.5em;
	padding-bottom: 0.5em;
}

#contact > p {
	width: 80%;
	opacity: 0.9;
}

#contact > form {
	display: flex;
	flex-direction: column;
	width: 20%;
	margin-top: 3em;
}

#contact > form > input {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

#contact > form > button {
	width: 20%;
	color: black;
}

#contact > form > input {
	height: 2em;
	padding: 0 0.5em;
	background-color: rgb(233, 233, 233);
	color: black;
}

#contact > form > button {
	height: 2.5em;
	width: 4.5em;
}

@media (max-width: 1200px) {
	#menu {
		grid-template-columns: 2fr 1fr;
	}

	.our-menu {
		padding: 4em 4em;
	}

	#about {
		grid-template-columns: 1fr 2fr;
	}

	.about-section {
		padding: 4em 2em;
	}

	.pic > img {
		width: 80%;
	}
}

@media (max-width: 992px) {
	.nav {
		/* padding: 2em 4em; */
		flex-direction: column;
		/* min-height: 8vh; */
	}

	.brand {
		justify-content: center;
	}

	.links {
		justify-content: center;
		margin-top: 2em;
	}

	#menu {
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr;
	}

	.our-menu {
		padding: 0 2em;
	}

	.our-menu > h1 {
		font-size: 2.5em;
	}

	.item-title {
		font-size: 1.2em;
		margin-bottom: 0.2em;
	}

	#about {
		grid-template-rows: 2fr 1fr;
		grid-template-columns: 1fr;
	}

	.about-section {
		padding: 0 2em;
		order: 1;
	}

	.about-section > h1 {
		font-size: 2.5em;
	}

	#about > .pic {
		order: 2;
	}

	.banner > h1 {
		font-size: 3em;
	}

	#contact {
		padding: 0 2em;
	}

	#contact > h1 {
		font-size: 2.5em;
	}
	#contact > form {
		width: 100%;
	}
	#contact > form > button {
		width: 30%;
	}
}
